In [1]:
import pandas as pd
import numpy as np

In [2]:
# 맥주 데이터를 DataFrame 형식으로 load
beer_df = pd.read_csv('data-files/sample.csv')
beer_df.head()

   Unnamed: 0           name  sweet  sour  tender  bitter  abundant
0           0        산미구엘 맥주     13    61       8       8         2
1           1  크로넨버그 1664 라거     42    14      22      16         7
2           2  크로낸버그 1664 블랑      9    47      17      19         1
3           3        1906 맥주      5    68       8      11         1
4           4        뢰벤브로이맥주     21    35      14      17         2

In [3]:
# 특정 맥주의 index 입력(세 개)
beers = [25, 12, 7]

In [4]:
# Cosine Similarity load
taste_sim = np.load('outputs/taste_sim.npy')
taste_sim.shape

(129, 129)

In [5]:
# 추천 시스템을 활용하여 추출한 맥주 index를 저장할 리스트 생성
sim_beers = []

# 사용자가 선택한 세 개의 맥주 index를 저장하는 리스트 생성
beer_indexes = []
for beer in beers:
    beer_indexes.append(beer)
    # 유사도에 따라 상위 10개의 모델을 추출
    sim1 = taste_sim[beer] 
    top = np.argsort(sim1)[::-1][:11]

    # 추출한 index에서 자신이 포함되어 있는지 확인
    index_one = np.where(top==beer)[0][0]
    top = np.delete(top, index_one)
    limit_add_beer = 0
    # 추출된 index 하나하나 추출하여 검사
    for sim_beer in top:
        # 추출된 index에서 사용자가 선택한 맥주가 포함되는지 확인하고, 있다면 다음 index 확인
        if sim_beer in beer_indexes:
            continue
        # 추출된 index에서 현재까지의 추천 시스템 리스트에 포함된 것이 있는지 확인하고, 있다면 다음 index 확인
        elif sim_beer in sim_beers:
            continue
        # 아닐 경우 추천 리스트에 포함시키고, 3개를 추천하면 다음 추출 or 끝내기
        else:
            sim_beers.append(sim_beer)
            limit_add_beer += 1
            if limit_add_beer == 3:
                break

In [6]:
# 사용자가 선택한 맥주 리스트
beer_df.iloc[beer_indexes,]

    Unnamed: 0        name  sweet  sour  tender  bitter  abundant
25          25  밸라스트포인트칼리코     30     0      20      30        20
12          12     몬티스섬머에일     63     3      24      19        22
7            7      에페스 맥주     13    34      21      41        16

In [8]:
sim_beers

[11, 73, 81, 115, 80, 63, 5, 59, 31]

In [10]:
from beer_recommendation import beer_recommendation

beer_re = beer_recommendation()
recommended_beers = beer_re.find_sim_beer(beer_df, taste_sim, beers)

In [11]:
beer_df.iloc[recommended_beers,]

     Unnamed: 0         name  sweet  sour  tender  bitter  abundant
11           11        마레드수스     39     4      27      34        16
73           73    에딩거 바이스비어     33     4      30      31        12
81           81    호가든 포비든프룻     43     4      22      24        18
115         115      그림버겐클래식     46     4      17      20        10
80           80     호가든 그랑크루     40     2      22      20        14
63           63     호가든 오리지날     40     2      22      20        14
5             5  밀러 제뉴인 드래프트     18    30      21      20         4
59           59       벨틴스 맥주     21    26      21      20         3
31           31         벡스다크     19    36       0      43         0

In [12]:
beer_df.iloc[beers,]

    Unnamed: 0        name  sweet  sour  tender  bitter  abundant
25          25  밸라스트포인트칼리코     30     0      20      30        20
12          12     몬티스섬머에일     63     3      24      19        22
7            7      에페스 맥주     13    34      21      41        16